OPENAI_API_KEY="sk-..."
# provide aws creds or provide them in your environment another way
AWS_PROFILE="default"
AWS_DEFAULT_REGION="us-east-1"
AWS_REGION="us-east-1"

# If set, you can use Grok
XAI_API_KEY="xai-..."

GOOGLE_API_KEY="..."

OLLAMA_BASE_URL="http://localhost:11434/v1"
